.cv_paper {
    margin: 50px;
    padding: 30px;
    border: 2px gray solid;
    box-shadow: 10px 10px 10px gray;
    /* width: 21cm;
    height: 29.7cm; */
}

.cv_profil {
    width: 200px;
    background-color: #eeeeee;
}

.engras {
    font-weight: bold;
}