{% extends 'base_entreprise.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-4 mx-auto">
                <div class="card card-signin my-5" style="background-color: #f8f9fa">
                    <div class="card-body">
                        <h5 class="card-title text-left p-1">Connexion</h5>
                        <form class=" mb-4 mb-lg-5 py-4" method="post" action="{{ path('login') }}">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="form-group ">
                                {# <label class="mb-0" for="rechercheInput1">Profession</label> #}
                                <input type="email" name="email" id="inputEmail" class="form-control"
                                       placeholder="Email" required autofocus>
                            </div>
                            <div class="form-group ">
                                {# <label class="mb-0" for="rechercheInput2">Lieu</label> #}
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       placeholder="Mot de passe" required>
                            </div>

                            <div class="custom-control custom-checkbox mb-3 ">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Se souvenir de moi </label>
                            </div>
                            <button class="btn  btn-primary btn-block text-uppercase " type="submit">Se connecter
                            </button>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <hr>
                            <div class="text-center"><a href="{{ path("entreprise_inscription") }}">Vous n'avez pas encore de compte, inscrivez-vous !</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}