body{
   background: #6F7A95;
}

.graph{
    background-color: #a5cee5;
}

/* navabar vertical */

.navbarVertical{
    margin-top: 20px ;
    margin-left: 1px;
    margin-right: 1px;
}

.blocIdentite{
    min-height: 350px;
}


/* block reporting*/

.blockreporting{
    margin-bottom: 30px;
}

/* page candidats */

.cardprofil {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.cardprofil-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.titlecard {
    color: grey;
    font-size: 18px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}
/* menu candidat */

.container-nav-menu {
    overflow: hidden;
}

.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
    background-color: #666;
    color: white;
}