/* profile page */

.mon-profil-wrapper {
    margin: auto;
    padding: 50px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    text-align: justify;
    text-justify: inter-word;
    font-size: .9em;
    font-weight: normal;
    line-height: 25px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

/* dashboard page */

.jumbo-profil {
    background-color: #F5F5F5 !important;
    /*margin-bottom: 1rem !important;*/
    /*height: 300px !important;*/

}
.profile-icon{
    max-height: 60px;
}


