body {
    background-image: url("/assets/images/test11.jpg");


}


html {
    height: 100%;
}


.chiffreRecap{
    font-size: 100px;
}

.card{

    border-radius: 10px 10px 10px 10px !important;
}
.modal-body{
    color: black;
}
.table {
    table-layout: fixed;
}