/* profile page */

.mon-profil-wrapper {
    margin: auto;
    padding: 50px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    text-align: justify;
    text-justify: inter-word;
    font-size: .9em;
    font-weight: normal;
    line-height: 25px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}
.lead {
    font-size: 1.10rem !important;
}

/*FORM MULTI-STEPS*/

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}

/*form styles*/
#pf-form {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

#pf-form fieldset {
    border: 0 none;
    border-radius: 0px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#pf-form fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#pf-form input, #pf-form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 1rem;
}

#pf-form input:focus, #pf-form textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid darkorange;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#pf-form .action-button {
    width: 100px;
    background: darkorange;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#pf-form .action-button:hover, #pf-form .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px darkorange;
}

#pf-form .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#pf-form .action-button-previous:hover, #pf-form .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.section-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #212529;
    /*text-transform: uppercase;*/
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 28px;
    display: block;
    font-size: 14px;
    color: #333;
    background: gainsboro;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 3px;
    background: gainsboro;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
}

#progressbar li:first-child:after {
    /* connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: darkorange;
    color: gainsboro;
}


/* dashboard page */

.jumbo-profil {
    background-color: #F5F5F5 !important;
    /*margin-bottom: 1rem !important;*/
    /*height: 300px !important;*/

}
.btn-profil{
    border-radius: 10px;
    color: #3E68D4;
}
#profil_form_save{
    width: 140px !important;
    border-radius: 10px;
    /*background-color:#3E68D4;*/
}

.profile-icon{
    max-height: 60px;
}


