.col-list{
    column-count: 2;
}

.main {
    /*max-width: 800px;*/
    margin: auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    text-align: justify;
    text-justify: inter-word;
    font-size: .9em;
    font-weight: normal;
    /*line-height: 25px;*/
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;

}
.pg-title {
    border: 1px solid darkblue;
    padding-top: 3px;
    padding-bottom: 3px;

}
.title-section {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2em !important;
    color: #4169E1;

}
.h-subsection{
    color: #4169E1;
}

/* liste fiche romes*/
.col-metiers-lib{
    column-count: 2;
}

.btn-fm {
    background-color: #3E68D4 !important;
    color: white;
}


/* fiche recherche */
.text-ko{
    /*color: #4169E1;*/
    font-weight: normal;
    font-size: 1.2rem;
}

#fiche_metier_search_recherche {
    background-color: #3E68D4;
    height: 31px !important;
    width: 130px;
    font-size: .95rem;
    padding: 0;
}
.col-search{
    margin-right: auto;
    margin-left: auto;
}
#fiche_metier_search_filtre {
    height: 31px !important;
    font-size: .95rem;
}