.rounded-circle{

    background-color: #3E68D4;
    }

.margin_navbar {
    margin-left: 205px;
}

.navbar-brand{
    font-size: x-large;
    font-weight: bold;
}

.nav-link{
    border-bottom-color: #C4A2FC00;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.nav-link:hover{
    border-bottom-color: #C4A2FC;
}

.zoom_bouton:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .entreprise_corner:hover{
    color: #3E68D4;
}

.card{
    border-radius: 0px 0px 10px 0px;
}

.image-background{
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-top: -20px;
}

#menu a{
    color: #3E68D4;
}

#brand{
    color: #6F7A95;
    font-size: x-large;
}

#pastille1 {
    position: absolute;
    width: 280px;
    top: 160px;
    left:40px;
    color: white;
    z-index: 3;
}

#pastille2 {
    position: absolute;
    top: 390px;
    left:230px;
    padding-left: 50px;
    z-index: 2;
}

  .intro {
    padding-left: 30px;
  }

.rech{
    color: #3E68D4;
    }


.inscrp{
    display: none;
}

.color_3E68D4{
    background-color: #3E68D4;
    color: aliceblue;
}

.colorBG-3E68D4Cdtk{
    background-color: #3E68D4;
}

.colorTxt-aliceblueCdtk{
    color: aliceblue;
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 992px)
{
    .pastille{
        display: none;
    }

    .margin_navbar {
        margin-left: 0px;
    }

    .inscrp{
        display: inline-block;
    }
}