.navigation_corner{
    border-radius: 0px 0px 20px 0px;
    }

.candidat_corner{
    border-radius: 6px 0px 0px 0px;
    background-color: #3E68D4;
    }
    
.entreprise_corner{
    border-radius: 0px 0px 6px 0px;
    color: #3E68D4;
    }

.margin_navbar {
    margin-left: 205px;
}

.navbar-brand{
    font-size: x-large;
    font-weight: bold;
}

.nav{
    position:sticky;
    top:0px;
}

.card{
    border-radius: 0px 0px 10px 0px;
}

#background{
    height: 200px;

  }
  .image_background{
  background-size: contain;
  background-repeat: no-repeat;
}

#menu a{
    color: #3E68D4;
}

#brand{
    color: #34495E;
}

.pastille {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
}

#pastille1 {
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 300px;
    left:720px;
    color: white!important;
    z-index: 3;
}

#pastille2 {
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 200px;
    left:700px;
    color: white!important;
    z-index: 2;
}

#pastille3 {
    height: 15rem;
    width: 15rem;
    position: absolute;
    top: 400px;
    left:890px;
    z-index: 1;
}

.rech{
    color: #3E68D4;
    }


/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 992px)
{
    .pastille{
        display: none;
    }

    .margin_navbar {
        margin-left: 0px;
    }
}