/* CRÉATION OFFRE & LISTE */

.ui-datepicker-header {
    background-color: #4169E1 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    border-color: #4169E1 !important;
    background-color: #4169E1 !important;
}
.jumbotron {
    padding-top: 1.4rem;
}
.item-comp {
    background-color: #eee;
    padding-left: 2rem;
    column-count: 2;
}
.li-comp{
    column-count: 2;
}

label.required:before {
    content: "* " !important;
    color: red;

}

.content-title {
    text-align: justify !important;

}
.badge{
    display: none;
}

.ui-autocomplete {
    position: relative !important;
    overflow-x: hidden;
    overflow-y: scroll !important;
    padding:  3px 6px 3px !important;
    max-width: 57vw !important;
    max-height: 300px;
}
.ui-widget.ui-widget-content {
    max-width: 57vw !important;
}


.card {
    background: transparent;
    border: 1px;
}
.card-body {
    padding-right: 10px;
    padding-left: 10px;
}
h3 {
    font-weight: lighter;
}

input {
    border-radius: .3rem;
}
#offre_save{
    padding: 10px 20px;
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}
.help-msg{
    font-size: .9rem;
    text-align: justify;

}

/*.classic-tabs{*/
/*    padding-right: 30px;*/
/*    padding-left: 30px;*/
/*}*/
#detail-tab {
    background-color: #C4A2FC !important;
}

#detail-tab a{
    color: white;
}

#candidat-tab {
    background-color: #17a2b8 !important;
}
#candidat-tab .nav-link:hover {
    border: 2px solid teal !important;
}
#candidat-tab a{
    color: white;
}

.hr-card {
    height: 1px;
    color: #C4A2FC;
    background-color: transparent;
}
#offre_description, #offre_profil{
    height: 150px !important;
}

.fa-square {
    color: white !important;
}
.fa .fa-exclamation{
    color: red;
}

@media
only screen
and (max-width: 768px), (min-device-width: 400px)
and (max-device-width: 992px)
{
    .form-control{
        font-size: .9rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1.15rem;
        line-height: 1;
    }
    h4 {
        font-size: 1.20rem;
    }
}