.ui-datepicker-header {
    background-color: #4169E1 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    border-color: #4169E1 !important;
    background-color: #4169E1 !important;
}

label.required:before {
    content: "* " !important;
    color: red;
}