.datepicker-days table td{
    padding: 2px !important;
    margin: 2px;

}
/*.datepicker-days {*/
/*    background-color: gainsboro !important;*/
/*}*/
.datepicker-days table th {
    background-color: #fde19a !important;
    border-radius: unset !important;
}

.datepicker .datepicker-switch {
    background-color: #fde19a !important;
    padding: 6px !important;
    font-size: 1.05em !important;
}

td .today .day  {
     background-color: #fde19a !important;
 }

