.navigation_corner{
    border-radius: 0px 0px 20px 0px;
    }

.candidat_corner{
    border-radius   : 6px 0px 0px 0px;
    background-color: #3E68D4;
    }
    
.entreprise_corner{
    border-radius: 0px 0px 6px 0px;
    color        : #3E68D4;
    border-color : #3E68D4;
    }

.inscrp_corner{
    border-radius: 0px 0px 6px 0px;
    color        : #3E68D4;
    }


.rounded-circle{
    background-color: #3E68D4;
    }

.margin_navbar {
    margin-left: 205px;
}

.navbar-brand{
    font-size  : x-large;
    font-weight: bold;
}

.nav-link{
    border-bottom-color: #C4A2FC00;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.nav-link:hover{
    border-bottom-color: #C4A2FC;
}

.zoom_bouton:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .entreprise_corner:hover{
    color: white;
    background-color: #3E68D4;
    opacity: 0.2;
}

.card{
    border-radius: 0px 0px 10px 0px;
}

.image-background{
    background-size  : 100% auto;
    background-repeat: no-repeat;
    margin-top       : -20px;
}

#menu a{
    color: #3E68D4;
}

#brand{
    color    : #6F7A95;
    font-size: x-large;
}

#pastille1 {
    position: absolute;
    width   : 280px;
    top     : 160px;
    left    : 40px;
    color   : white;
    z-index : 3;
}

#pastille2 {
    position    : absolute;
    top         : 390px;
    left        : 230px;
    padding-left: 50px;
    z-index     : 2;
}

#pastille3 {
    position    : absolute;
    top         : 390px;
    left        : 230px;
    padding-left: 50px;
    opacity     : 0;
    z-index     : 4;
}

  .intro {
    padding-left: 30px;
  }

.rech{
    color: #3E68D4;
    }


.inscrp{
    display: none;
}

.color_3E68D4{
    background-color: #3E68D4;
    color           : aliceblue;
}

/* .container-fluid {
    min-height: 20px;
} */

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 992px)
{
    .pastille{
        display: none;
    }

    .margin_navbar {
        margin-left: 0px;
    }

    .inscrp{
        display: inline-block;
    }
}

btn d-flex btn-primary align-self-end