/* Global style */

.color-principale1 {
    color: #555555;
}

.color-principale2 {
    color: #555555;
}

.color-principale3 {
    color: #555555;
}

.bg-color-principale1 {
    background-color: blue;
}

.bg-color-principale2 {
    background-color: blue;
}

.bg-color-principale3 {
    background-color: blue;
}


.titre1 {

}

.button1 {
    
}




/* Custom radius */

.navigation-corner{
    border-radius: 0px 0px 30px 0px;
    }

.bottom-corner{
    border-radius: 0px 30px 0px 0px;
    }

.candidat-corner{
    border-radius   : 6px 0px 0px 0px;
    background-color: #3E68D4;
    }

.login-corner{
    border-radius: 0px 0px 0px 0px;
    color        : #3E68D4;
    border-color : #3E68D4;
    }

.entreprise-corner{
    border-radius: 0px 0px 6px 0px;
    color        : #3E68D4;
    border-color : #3E68D4;
    }

.inscrp-corner{
    border-radius: 0px 0px 6px 0px;
    color        : #3E68D4;
    }

.card{
    border-radius: 0px 0px 10px 0px;
}

/* Custom margin menu */

.margin-navbar {
    margin-left: 205px;
}

/* Custom couleur */

.rounded-circle{
    background-color: #3E68D4;
    }

.navbar-brand{
    font-size  : x-large;
    font-weight: bold;
}


.nav-link{
    border-bottom-color: #C4A2FC00;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

/* Custom barre */

.barre:hover{
    border-bottom-color: #C4A2FC;
}


.barre{
    border-bottom-color: #C4A2FC;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: 200px;
}

.barre{
    border-bottom-color: #C4A2FC;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: 200px;
}

.barre-pro:hover{
    border-bottom-color: #6F7A95;
}


.barre-pro{
    border-bottom-color: #6F7A95;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    width: 60%;
}

/* Custom hover */

.nav-link:hover{
    border-bottom-color: #C4A2FC;
}

.nav-link:hover{
    border-bottom-color: #C4A2FC;
}

.zoom-bouton:hover {
    transform: scale(1.02);
  }

.entreprise-corner:hover{
    color: #3E68D4;
}

.image-background{
    background-size  : 100% auto;
    background-repeat: no-repeat;
    margin-top       : -30px;
}

.image-background-thin{
    background-size  : 100% auto;
    background-repeat: no-repeat;
    height           : 300px;
    margin-top       : -30px;
}

#menu a{
    color: #3E68D4;
}

#brand{
    color    : #6F7A95;
    font-size: x-large;
}

#pastille1 {
    position: absolute;
    width   : 280px;
    top     : 160px;
    left    : 40px;
    color   : white;
    z-index : 3;
}

#pastille2 {
    position    : absolute;
    top         : 390px;
    left        : 230px;
    padding-left: 50px;
    z-index     : 2;
}

#pastille3 {
    position    : absolute;
    top         : 390px;
    left        : 230px;
    padding-left: 50px;
    opacity     : 0;
    z-index     : 4;
}

  .intro {
    padding-left: 30px;
  }

.rech{
    color: #3E68D4;
    }

.no-border{
    border: 0px;
}

.inscrp{
    display: none;
}

.color-3E68D4{
    background-color: #3E68D4;
    color           : aliceblue;
}

.colorTxt-3E68D4Cdtk{
    color: #3E68D4;
}

.colorBG-DBDEE5Cdtk{
    background-color: #DBDEE5;
}

.colorTxt-aliceblueCdtk{
    color: aliceblue;
}

.colorBG-3E68D4Cdtk{
    background-color: #3E68D4;
}

/* .container-fluid {
    min-height: 20px;
} */

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 992px)
{
    .pastille{
        display: none;
    }

    .margin_navbar {
        margin-left: 0px;
    }

    .inscrp{
        display: inline-block;
    }
}

/* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 320px)
{
    .pastille{
        display: none;
    }

    .margin_navbar {
        margin-left: 0px;
    }

    .inscrp{
        display: inline-block;
    }
}