
.select {
    /* background-color: #dcd4d2; */
    font-weight: bold;
    border-left: 6px solid rgb(47, 196, 255) !important;
}

.active {
    font-weight: bold;
}


.resultats {
    margin: 5px;
    padding: 10px;
    border: 1px solid rgba(220, 220, 220, 0.8);
}

.resultats > .titre {
    /* font-weight: bold; */
    font-size: 1.2em;
}

.paper {
        padding: 5px;
        border: 1px solid  rgba(220, 220, 220, 0.8);
        border-radius: 2px;;
        box-shadow: 2px 2px 2px gray;
}

.paper header {
    border-bottom: 1px solid  rgba(220, 220, 220, 0.8);
    font-weight: bold;
}

.paper .portrait img {
    width: 10%;
    float: right;
}