{% extends 'base.html.twig' %}


{% block body %}

 



{#DEBUT PROFIL #}
<br>
<div class="half-float-bottom">
    <!--Photo du candidat-->
    <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="pro" height="100" width="100">
 </div>
 <br>
<h4>Bonjour John Doe</h4>
<p>Content de vous revoir aujourd'hui</p>
</div>


 

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Nombre de visiteurs sur votre cv</h3>
      <p>8</p>
      
    </div>
  </div>

 
  
  <div class="column">
    <div class="card">
      <h3>Total de cv envoyés</h3>
      <p>6</p>
      
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Nombre de cv</h3>
      <p>3</p>
      
    </div>
  </div>
</div>

 
<br>
{# J'appelle le graphique offre/mois #}
<div>
<p>Statistiques</p>

    <h3>Graphique nombre d'offres par mois </h3>
    <div class="chart-container" style="position: relative; height:25vh; width:20vw">
    <canvas id="Chart" width="400" height="400"></canvas>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    

{#Fin graphique #}
           
    <!-- DEBUT TABLEAU ATTENTE DE REPONSE OFFRE-->
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Entreprise</th>
          <th scope="col">Nom du poste</th>
          <th scope="col">Réponses</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Google</th>
          <td>Developpeur web</td>
          <td>En attente de lecture</td>
          
        </tr>
        <tr>
          <th scope="row">Amazon</th>
          <td>Developpeur web</td>
          <td>Rejeté</td>
          
        </tr>
        <tr>
          <th scope="row">Facebook</th>
          <td>Developpeur web</td>
          <td>Vu</td>
          
        </tr>
      </tbody>
    </table>
          


       
    
    
  
  

<br><br><br><br><br><br><br><br><br><br><br>

{%  endblock %}
{% block javascripts %}
<script>
  var compteur = {{compteur}}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
<script type="text/javascript">
var ctx = document.getElementById('Chart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','Décembre'],
        datasets: [{
            label: ' Nombre offres dans le mois ',
            data: [compteur],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
               
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                
            ],
            
            borderWidth: 2
        }] 
    },
    options: {
        scales: {
            yAxes: [{
                tgridLines: {
                  offsetGridLines: true
                }
            }]
        }
    }
});

</script>



{% endblock %}

