{% extends 'base.html.twig' %}


{% block body %}

 <div class="container">
     <div class="col-lg-12 mon-profil-wrapper">
         Civilite<br>
         Prénom, Nom, Ville, CP, Pays, Tél,
<section>Votre parcours
Dernier poste occupé
    Niveau d'expérience
    Niveau de formation - jeune diplômé, 1-2 ans, 3-5, 6-10, 11-20, plus
</section>
         <section>Projet professionnel</section>
         Disponible choix - immédiat; avec préavis, en veille
         Poste recherché
         Type de contrat recherché
         secteurs rfecherché
         Salaire annuel brut souhaité
         regions recherchées
     </div>
     Activer profil dans la cv-thèque
     Activer l'alerte cv
 </div>
{% endblock %}

