{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center"><a href="{{ path("candidat_inscription") }}">Inscription</a></div>
    <div class="text-center"><a href="{{ path("app_login") }}">Connexion</a></div>

{% endblock %}