{% extends 'base.html.twig' %}

{% block title %}Liste Offre
{% endblock %}

{% block body %}
	<body>
		<div class="ban"></div>
		<div class="row image-background" style="background-image:url('{{ asset("assets/images/test" ~ variaTest ~ ".jpg") }}')">
			<div class="offset-md-1 col-lg-5 mt-4">
				<form class="bg-light rounded mt-5 mb-4 mb-lg-5 py-4">
					<div class="form-group mx-5">
						<label class="mb-0" for="rechercheInput1">Profession</label>
						<input type="email" class="form-control form-control-sm" id="rechercheInput1">
					</div>
					<div class="form-group mx-5">
						<label class="mb-0" for="rechercheInput2">Lieu</label>
						<input type="password" class="form-control form-control-sm" id="rechercheInput2">
					</div>
					<div class="form-group mx-5">
						<label class="mb-0" for="rechercheInput3">Secteur</label>
						<input type="email" class="form-control form-control-sm" id="rechercheInput3">
					</div>
					<div class="form-group mx-5">
						<label class="mb-0" for="rechercheInput4">Type de contrat</label>
						<input type="email" class="form-control form-control-sm" id="rechercheInput4">
					</div>
					<div class="rech text-right">
						<button type="submit" class="btn color_3E68D4 mt-1 mx-5">Rechercher des offres</button>
					</div>
				</form>
			</div>
			<div class="col-lg-6">
				<div class="inscrp w-100">
					<button type="button" class="btn btn-block color_3E68D4 mb-4">S'inscrire maintenant</button>
				</div>
				<div id="pastille1" class="pastille cercle embed-responsive embed-responsive-1by1 rounded-circle color_3E68D4">
					<div class="intro embed-responsive-item pt-5">
						<h1>Votre talent, nos offres</h1>
						<p>Lorem ipsum, etc</p>
					</div>
				</div>
				<button type="button" id="pastille2" class="btn pastille btn btn-light">S'inscrire</button>
			</div>
		</div>

<div class="container">

<form>
<div class="row">
  <div class="form-group col-3">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
	 </div>
	   <div class="form-group col-3">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
	 </div>
	   <div class="form-group col-3">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
	 </div>
	   <div class="form-group col-3">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
	 </div>
  </div>
</form>

<div class="card-deck mt-4">
	<div class="card" style="width: 18rem;">
		<div class="card-body bg-light">
			<h5 class="card-title border-bottom pb-2">Offre</h5>
			<p class="card-text">Réf :</p>
			<p class="card-text">Publié le :</p>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
			<a href="{{ path('recherche_details') }}" class="btn btn-primary">Voir l'offre</a>
		</div>
	</div>
		<div class="card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Offre</h5>
			<p class="card-text">Réf :</p>
			<p class="card-text">Publié le :</p>
			<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
			<a href="{{ path('recherche_details') }}" class="btn btn-primary">Voir l'offre</a>
		</div>
	</div>
	</div>
</div>
	</body>
{% endblock %}
