{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('demo') }}
{% endblock %}

{% block body %}
<div id="demo_div" class="container-fluid"></div>

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('demo') }}


{% endblock %}
